/* 1. Global Theme Variables */
:root {
  --bs-primary: #12d833d2;
  --bs-nav-link-hover: #12d833;
  --bs-border-color: #12d833;
  --bg-hover: transparent;
  --font-family-base: "Poppins", sans-serif;
  --bs-box-shadow: 0 8px 25px rgba(35, 201, 113, 0.3);
  --bg-highlight: #12d833;
  --bs-btn-text-hover: #ffffffcc;
}

[data-bs-theme="light"] {
  --bs-body-bg: 
  --bs-text: #1c1917b1;
  --bs-box-shadow-navbar: 0 4px 30px rgba(0, 0, 0, 0.25);

  --bs-categories-program:#15ff0069;
}

[data-bs-theme="dark"] {
  --bs-body-bg: linear-gradient(135deg, #08120c, #0a7e3163);
  --bs-text: #f1f1f1dd;
  --bs-box-shadow-navbar: 0 4px 30px rgba(255, 255, 255, 0.25);
  --bs-categories-program: #00ff2a50;
}

/* 4. Font Face Setup */
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* 5. Global Styles */
body {
  font-family: var(--font-family-base);
  background: var(--bs-body-bg);
  color: var(--bs-text);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Optional: Add animation only for dark mode gradient */
[data-bs-theme="dark"] body {
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/*----------------- navbar------------- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 1000;
}
.navbar {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: var(--bs-box-shadow-navbar);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  /* border: 1px solid #12d833; */
}

.navbar .navbar-brand {
  text-shadow: 1px 1px #12d833;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: var(--bs-primary);
  /* font-size: 18px; */
}
.navbar .navbar-nav .nav-item .nav-link {
  color: var(--bs-text);
}
.btn-mode {
  padding: 10px;
}
.btn:hover {
  background-color: transparent;
  border-color: var(--bs-border-color);
  color: var(--bs-primary);
  transform: scale(1.1);
  box-shadow: var(--bs-box-shadow);
}

.btn {
  background-color: var(--bs-primary);
  border-color: var(--bs-border-color);
  color: var(--bs-btn-text-hover);
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
/* global class ---- */
.title-name {
  color: var(--bg-highlight);
}
.section-header {
  height: 100px;
  text-align: center;
  margin-bottom: 3rem;
}

.section-title {
  color: var(--bs-text);
  font-size: 3.125rem; /* 50px */
  font-weight: bolder;
}

.section-title span {
  border-left: 3px solid var(--bs-primary);
  border-right: 3px solid var(--bs-primary);
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-subtitle {
  color: var(--bs-text);
  font-size: 1.375rem; /* 22px */
  font-style: italic;
}


/*----------------- hover effect on nav-link ------------------ */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 5px;
  background: var(--bs-nav-link-hover);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*----------- end of nav-link effect ---------------- */

.hero-banner {
  width: 100%;
  height: 50vh;
}

.image-hero img {
  width: 550px;
  background-color: var(--bs-primary);
  border-radius: 8px;
}
.btn-theme-toggle {
  color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  transition: background-color 0.3s, color 0.3s;
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*------ Icon link style ------------*/
.social-icons .icon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--bs-body-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
/*  icon social media */
.icon {
  border: 1px solid var(--bs-border-color);
  /* color: var(--bs-primary); */
}
.social-icons .icon:hover {
  transform: scale(1.1);
  transition: 0.3 ease-in;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid #12d833;
}
.card-tool {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid #12d833;
}

/* ---------- section counter ---------------------- */
.count {
  width: 100%;
  background-color: var(--bs-primary);
  text-align: center;
  box-shadow: 0 4px 8px rgba(10, 240, 48, 0.2);
  overflow: hidden;
}

.count .counter-box h2,
.counter-box span {
  font-size: 42px;
  font-weight: bold;
  color: var(--bs-body-color);
}

.counter-box p {
  font-size: 20px;
  color: var(--bs-body-color);
}
/*-----------  end section counter ------------------- */

/* ---------- section About ---------------------- */

.about-subtitle {
  color: var(--bs-text);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}

.about-title {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 32px;
}

.about-description {
  color: var(--bs-text);
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 32px;
}
/* ------------ end section about---------------- */

.dots-grid {
  position: absolute;
  /* bottom: -85%; */
  /* left: 13%; */
  bottom: -15%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(12, 6px);
  grid-template-rows: repeat(12, 6px);
  gap: 20px 20px;
  opacity: 1;
  /* transform: translateY(178px); */
}

.dot {
  width: 3px;
  height: 3px;
  background-color: var(--bs-primary);
  border-radius: 100%;
}

@media (max-width: 820px) {
  .section-title {
    width: 80%;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
  }
  .section-description {
    font-size: 14px;
    padding: 10px 10px;
  }
  .btn {
    padding: 6px 7px;
    margin-left: 20px;
    font-size: 13px;
  }
  .icon {
    margin-top: 15px;
    font-size: 5px;
    border: none;
  }
}



/* ===== Portfolio Section ===== */
.portfolio-area {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


/* ===== Portfolio Card Styles ===== */
.portfolio-area .card {
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(126, 126, 126, 0.274);
  height: auto;
}
.portfolio-area .card a{
  color: var(--bs-text);
  text-decoration: none;
}

.portfolio-area .card:hover {
  box-shadow: 0 8px 30px rgba(19, 239, 56, 0.308);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  transition: transform 0.4s ease;
  object-fit: cover;
  height: 290px;
}

.portfolio-area .card:hover a .card-img-top {
  transform: scale(1.1) rotate(2deg);
}

/* ===== Card Body ===== */
.card-body {
  background-color: var(--bs-body-bg);
  border-radius: 0 0 10px 10px;
  color: var(--bs-text);
}

.card-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* ===== Technology Labels ===== */
.categories span {
  display: inline-block;
  background-color: var(--bs-categories-program) !important;
  color: var(--bs-text);
  padding: 0.35rem 0.75rem;
  font-size: 0.875rem;
  text-transform: capitalize;
  border-radius: 2rem;
  margin: 0.25rem 0.25rem 0 0;
  cursor: default;
}
.categories span:nth-child(even){
  background-color: var(--bs-categories-program) !important;
}

/* ===== Action Buttons ===== */
.card-body .btn,
.card-body .btn-second-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
  margin-inline-end: 10px;
  border: none;
  color: var(--bs-text);
}

.card-body .btn {
  background-color: var(--bs-primary);
  outline: 1px solid var(--bs-primary);
}

.card-body .btn-second-primary {
  background-color: transparent;
  border: 1px solid var(--bs-primary);
  color: var(--bs-primary);
}

.card-body .btn:hover,
.card-body .btn-second-primary:hover {
  background-color: transparent;
  transform: scale(1.1);
  color: var(--bs-primary);
}

/* ----skill */

.skill {
  margin-bottom: 90px;
}

.import-color {
  color: var(--bs-primary);
  font-size: 18px;
  font-weight: bold;
}

.text-header {
  width: 30%;
}

.skill .skill-card {
  background: rgba(255, 255, 255, 0.1);
  border-left: 3px solid var(--bs-primary);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 1rem 1.5rem;
  transition: 0.3s ease;
  cursor: pointer;
  margin-bottom: 1rem;
}

.skill .progress-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--bs-primary);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 1;
  z-index: 0;
  transition: width 0.4s ease;
}

.skill .skill-card.active .skill-percent {
  opacity: 1;
}

.skill .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.skill .card-left {
  display: flex;
  align-items: center;
}

.skill .card-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.skill .card-title {
  color: var(--bs-text);
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}

.skill .skill-percent {
  color: var(--bs-text);
  font-weight: bold;
  font-size: 16px;
  opacity: 0;
  transition: 0.3s ease;
  user-select: none;
}

.skill-sm {
  display: none;
}

@media (min-width: 601px) {
  .title-header {
    font-size: 25px;
  }

  .text-header {
    width: 90%;
    font-size: 20px;
  }

  .skill-sm {
    display: none;
  }
}

@media (max-width: 600px) {
  .title-header {
    font-size: 15px;
  }

  .text-header {
    width: 90%;
    font-size: 15px;
  }

  .skill-md {
    display: none;
  }

  .skill-sm {
    display: block;
    padding: 0 10px;
  }

  .import-color {
    font-size: 15px;
  }
}

/* resume Section */

.resume .accordion-item {
  border-radius: 2px;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.resume .accordion-button {
  background: transparent;
  color: var(--bs-text) !important;
  font-weight: bold;
  border: none;
  border-radius: 0;
  padding: 1rem 1.25rem;
  transition: 0.3s ease;
  border-radius: 5px !important;
}

.resume .accordion-button span {
  color: var(--bs-text);
}

@media (max-width: 992px) {
  .accordion-button span {
    font-size: 12.2px;
  }
  .accordion-button::after {
    font-size: 7px !important;
  }
  .accordion-button:not(.collapsed)::after {
    font-size: 7px !important;
  }
}

.resume .accordion-button:not(.collapsed) {
  background: rgba(18, 216, 51, 0.1);
  color: var(--bs-text);
  box-shadow: none;
}

.resume .accordion-button:focus {
  box-shadow: none;
}

.resume .accordion-button::after {
  transition: transform 0.5s ease;
  filter: brightness(0) saturate(100%) invert(64%) sepia(85%) saturate(681%)
    hue-rotate(75deg) brightness(95%) contrast(103%);
}

.resume .accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(64%) sepia(85%) saturate(681%)
    hue-rotate(75deg) brightness(95%) contrast(103%);
}

.resume .accordion-body {
  padding: 1rem 1.25rem;
  font-size: 0.95rem;
  color: var(--bs-text);
}

/* Contact Section */

.contact-info {
  background-color: var(--bs-body-bg);
  box-shadow: var(--bs-box-shadow);
}

.contact label {
  color: var(--bs-primary);
  font-weight: 600;
  font-size: 16px;
  margin-right: 7px;
}

.contact .icon {
  color: var(--bs-primary);
  font-size: 20px;
  border: none;
}

.contact a {
  font-size: 16px;
  transition: 0.3s;
  color: var(--bs-text);
}

.contact a:hover {
  color: var(--bs-primary);
  text-decoration: underline;
}

@media (max-width:600px) {
  .contact a{
    font-size: 11px;
  }
}

.contact-form {
  background-color: var(--bs-body-bg);
  border-radius: 8px;
}

.contact-form h3 {
  color: var(--bs-text);
  font-weight: bold;
}

.contact-form .form-control {
  background-color: var(--bs-body-bg);
  color: var(--bs-text);
  border: 1px solid rgba(128, 128, 128, 0.308);
  border-top: none;
  border-right: none;
  border-left: none;
}

.contact-form .form-control::placeholder {
  color: #aaa;
}

.contact-form .form-control:focus {
  background-color: var(--bs-body-bg);
  color: var(--bs-text);
  box-shadow: none;
  border-color: #12d83396;
}
