* {
  box-sizing: border-box;
}

:root {
  --color-fg: #fff;
  --color-primary: #08d665;
  --color-second-primary: #50b498;
  --color-third-primary: #9cdba6;

  --color-subtitle: #ddd;
}

::selection {
  background-color: #333;
  color: var(--color-primary);
}

body {
  background-color: var(--color-primary);
  scroll-behavior: smooth;
  font-family: "Comic Neue", cursive;
}

/* navbar */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px 5px rgba(145, 145, 145, 0.1);
  border: 1px solid red;
}

.navbar .navbar-brand {
  font-size: 50px;
  color: var(--color-primary);
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: #eee;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: var(--color-fg);
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 400;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-second-primary);
}

/* button navbar */
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
  margin-inline-end: 3rem !important;
}

.navbar-toggler {
  border: 1px solid var(--color-fg);
  color: #9cdba6;
}
.navbar-toggler-icon {
  background-image: none;
  color: #468585;
}
.bi::before,
[class*=" bi-"]::before,
[class^="bi-"]::before {
  font-size: 1.5rem;
}

main {
  left: 50%;
  transform: translateX(-50%);
}

/* banner section */

.banner-area {
  height: 940px;
}
.banner-area .content-right {
  height: 100%;
}

.banner-area .content-right .content-header .content-title {
  color: var(--color-fg);
  font-size: 60px;
  font-weight: 800;
}
.banner-area .content-right .content-header .content-title > span {
  border-bottom: 3px solid var(--color-third-primary);
  color: var(--color-primary);
}
.banner-area .content-right .content-header .content-subtitle {
  font-size: 14px;
  font-weight: 800;
  color: var(--color-subtitle);
}
.banner-area .content-right .content-body .content-description {
  line-height: 32px;
  font-size: 22px;
  color: var(--color-subtitle);
  font-weight: 600;
}
.banner-area .content-body .btn-outline-darkgreen {
  border: none;
  padding: 12px 26px;
  outline: 1px solid var(--color-second-primary);
  color: var(--color-fg);

  background-color: var(--color-primary);
  transition: 0.3s ease-out;
}
.banner-area .content-body .btn-outline-darkgreen:hover {
  color: var(--color-third-primary);
  outline: 1px solid var(--color-second-primary);
  background-color: transparent;
}

.banner-area .content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.banner-area .content-left .illusion-img {
  width: 60%;
  height: 100%;
  background-color: #9cdba6;
  transition: 0.3s ease-out;
  box-shadow: 4px -4px 8px #333;
}
.banner-area .content-left .illusion-img:hover {
  background-color: transparent;
}

.banner-area .content-left .illusion-img {
  animation-name: animationUpDown;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* end banner */

/* section portfolio */

.portfolio-area .portfolio-header {
  height: 100px;
}
.portfolio-area .portfolio-header .portfolio-title {
  color: var(--color-fg);
  font-size: 50px;
}
.portfolio-area .portfolio-header .portfolio-title span {
  border-left: 3px solid var(--color-second-primary);
  border-right: 3px solid var(--color-second-primary);
}
.portfolio-area .portfolio-header .portfolio-subtitle {
  color: var(--color-subtitle);
  font-size: 22px;
}
.portfolio-area .card,
.portfolio-area img.card-img-top {
  border: 0;
  border: 10px;
  transition: .3s ease;
}
.portfolio-area .card{
   overflow: hidden;
}

.portfolio-area .card:hover img.card-img-top{
  transform: scale(1.2) rotate(4deg);
}
.portfolio-area .card:hover{
  box-shadow: 0 0 8px 4px rgba(8, 214, 101,0.6);
}

.portfolio-area .card .card-body {
  background-color: black;
  color: var(--color-fg);
  border-radius: 0 0 5px 5px;
}
.portfolio-area .card .card-body .btn {
  border: none;
  background-color: var(--color-primary);
  outline: 1px solid var(--color-primary);
  margin-inline-end: 10px;
}

.portfolio-area .card .card-body .btn-second-primary {
  border: none;
  background-color: var(--color-second-primary);
  outline: 1px solid var(--color-second-primary);
  color: var(--color-fg);
}
.portfolio-area .card .card-body .btn:hover {
  background-color: transparent;
  transform: scale(1.1);
}

.portfolio-area .card .program-language span {
  text-transform: capitalize;
  font-weight: 600;
  cursor: default;
}

/* end portfolio */

/* animation */

@keyframes animationUpDown {
  from {
    transform: translateY(-10px) skewX(-1deg) rotate(3deg);
  }
  to {
    transform: translateY(20px) skewX(0deg) rotate(0deg);
  }
}

/* Responsive */

@media (max-width: 1200px) {
  .banner-area .content-left .illusion-img {
    width: 80%;
  }
}

@media (max-width: 820px) {

  /* section banner */
  .banner-area {
    margin-block: 100px;
  }
  
}

@media (max-width: 680px) {
  .banner-area .content-left .illusion-img {
    width: 90%;
  }

  /* section portfolio */
  .portfolio-area .portfolio-header .portfolio-title {
    font-size: 35px;
  }
   .banner-area .content-left{
    margin-block: 30px;
    justify-content: center
  }
  .banner-area .content-right .content-header{
   text-align: center;
  }
  .banner-area .content-right .content-header .content-title{
    font-size: 40px;
  }
 
}
